@import "compass/css3/background-size";
@import "compass/css3/border-radius";
@import "compass/css3/images";
@import "variables";

$translucentlightgray: rgba(215, 214, 213, 0.6);
$translucentwhite: rgba(255, 255, 255, 0.2);

slides > slide {

  &.title-slide {
      &.nobackground:after {

	  background: url(../../images/qtdd2014/title-light.jpg) no-repeat 100% 0%;
	  @include background-size(contain);
	  top: 0px;
	  height: 38%;
      }

      @include background(linear-gradient(to bottom, $qt-new-green 0%, $qt-new-green 40%, white 40%, white 100%));
      
      
      hgroup {
	bottom: 100px;

	h1 {
	  font-size: 65px;
	  line-height: 1.4;
	  letter-spacing: -1px;
	}

	h2 {
	  font-size: 42px;
	  color: $gray-3;
	  font-weight: inherit;
	  text-align: center;
	}

	p {
	  font-size: 20px;
	  color: $gray-3;
	  line-height: 1.3;
	  margin-top: 2em;
	}
      }
  }
  
}